<div class="container w-100">
  <footer class="row row-cols-5 py-5 w-100 my-5 border-1">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="100%" height="5"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <img src="../Multimedia/logo.jpg">
    </div>

    <div class="col">

    </div>

    <div class="col" style= "color: white">
      <p _msthash="808288" _msttexthash="114023">Ubicación</p>
      <ul class="nav flex-column">
        <p>San Martin 140 </p>
        <p>CABA</p>
        <p>Argentina</p>
       </ul>
    </div>

    <div class="col" style= "color: white">
      <h5 _msthash="808496" _msttexthash="114023"></h5>
      <ul>
        <p>Tel: 11-5807-8085</p>
        <p>gmasociados@gmail.com</p>
      </ul>
    </div>

    <div class="col" style= "color: white">
      <h5 _msthash="808704" _msttexthash="114023"></h5>
      <ul class="nav flex-column" style= "color: white">
        <li class="nav-item mb-2"><a href="../" class="nav-link p-0 text-muted" _msthash="1243671" _msttexthash="59059">Inicio</a></li>
        <li class="nav-item mb-2"><a href="../nuestroestudio" class="nav-link p-0 text-muted" _msthash="1243671" _msttexthash="59059">Nuestro Estudio</a></li>
        <li class="nav-item mb-2"><a href="../abogados" class="nav-link p-0 text-muted" _msthash="1243853" _msttexthash="136006">Abogados</a></li>
        <li class="nav-item mb-2"><a href="../areasdepractica" class="nav-link p-0 text-muted" _msthash="1244035" _msttexthash="95589">Areas de Práctica</a></li>
        <li class="nav-item mb-2"><a href="../contacto" class="nav-link p-0 text-muted" _msthash="1244217" _msttexthash="418782">Contacto</a></li>
      </ul>
    </div>
  </footer>
</div>  

