
 <header><h1>Abogados</h1> </header>
     <hr>

    <main>

    <!--Esto es un comentario del código HTML-->
    
    <h4 style="color: white;">Nuestro equipo de abogados está constantemente creciendo, y buscamos profesionales que quieran ser parte de uno de los estudios jurídicos full-service más importantes de Argentina. </h4>
    <br>
 
<div class="texto">
         <p> Un equipo de profesionales está a su servicio en todo el amplio territorio de la República Argentina y un grupo de selectos profesionales nos permiten asegurar prestaciones en países como España, Uruguay, Bolivia y República de Honduras.</p>

        <p>Para el Estudio Jurídico GM Asociados las prestaciones a brindar a nuestros clientes no se limitan al ámbito de la actuación ante la Justicia, sino que incluyen la absoluta y total defensa de los derechos en su más amplio sentido. En esta orientación es que sus integrantes no solamente litigan sino que realizan aportes en ámbitos académicos, doctrinarios y sociales.</p>
        <p>Es así que integran el Estudio profesores de derecho titulares de cátedra y adjuntos de diversas asignaturas de grado y posgrado (Práctica profesional, Informática jurídica, Habeas data, Nombres de dominio, Oratoria, Derecho del trabajo, Contratos) y autores de artículos, notas y libros de contenido jurídico.</p>
        
      <p>Las especializaciones de nuestro equipo profesional nos permiten ofrecer un servicio que previamente busca la resolución del conflicto a través de los diversos medios alternativos para lograr una mejor relación entre las pretensiones jurídicas, el camino hacia su satisfacción y su costo. No obstante lo expuesto, cuando nos enfrentamos al litigio, aguerridos profesionales le brindarán la respuesta jurisdiccional adecuada.</p>
    </div>
      <div>
  <h3>Nuestros Abogados</h3>

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="../Multimedia/Ori.jfif" svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="599664"><title _mstHash="1028118" _mstTextHash="112281">Marcador</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em" _mstHash="1399697" _mstTextHash="54314"></text></img>
    
            <h2 _msthash="970905" _msttexthash="152542">Oriana Rodriguez</h2>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="https://www.linkedin.com/in/marco-ernesto-gradin-b97b19222/overlay/photo/" svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="599664"><title _mstHash="1028339" _mstTextHash="112281">Marcador</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em" _mstHash="1400009" _mstTextHash="54314"></text></img>
    
            <h2 _msthash="971113" _msttexthash="152542">Marco Gradin</h2>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="../Multimedia/Agus.jfif" svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posición: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="599664"><title _mstHash="1028560" _mstTextHash="112281">Marcador</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em" _mstHash="1400321" _mstTextHash="54314"></text></img>
    
            <h2 _msthash="971321" _msttexthash="152542">Agustina Miceli</h2>
           
         
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    
    
  
      </div>