


  <h1> Areas de Práctica</h1>
  <hr>
  <div class="carousel" >
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../Multimedia/LABORAL4.jpeg" class="d-block w-100" height="400px" alt="Laboral">
        </div>
        <div class="carousel-item">
          <img src="../Multimedia/Administrativo.jpg" class="d-block w-100" height="400px" alt="Administrativo">
        </div>
        <div class="carousel-item">
          <img src="../Multimedia/derecho corporativo.jpg" class="d-block w-100" height="400px" alt="Corporativo">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


<h2>Derecho laboral</h2>
<hr>
<p>Asesoramos a nuestros Clientes en todas las cuestiones vinculadas con el Derecho Laboral, tanto en materia individual como colectiva. Nuestro equipo asesora a numerosas empresas de los más diversos sectores de la economía, incluyendo el Financiero, Seguros, Petrolero, Agropecuario, Minero, Tabacalero, Energético, Entretenimientos, Productos de Higiene, ART, y Servicios, entre otros.</p>

    <p>En materia de Derecho Laboral individual brindamos asesoramiento personalizado para abordar las distintas cuestiones que se presentan, desde la contratación hasta la extinción de una relación laboral. Adicionalmente, realizamos auditorías (Due Diligences) para la evaluación del cumplimiento de la normativa laboral vigente y la detección de contingencias laborales, o bien para la determinación de valores contingentes en procesos M&A. En materia de Derecho Laboral colectivo brindamos asesoramiento para la gestión y estrategia en las negociaciones y conflictos colectivos.</p>
        
    
   <p> Los servicios prestados en esta área incluyen los siguientes, entre otros:</p>
    <ul class="lista1">
   <li>Análisis de la modalidad contractual pertinente a cada relación laboral.</li> 
   <li>Desarrollo de estructuras de personal, salariales, fuerzas de ventas, esquemas comisionales, sistemas de pluriempleo, reglamentos de trabajo.</li> 
   <li>Desarrollo de Políticas de home office, trabajo remoto o teletrabajo, como así de modalidades flexibles en materia de jornada.</li> 
   <li> Desarrollo e implementación de sistemas de beneficios y compensaciones diversos.</li> 
    <li>Redacción de sanciones, despidos, y/o cualquier notificación necesaria para la comunicación con el empleado o para dar respuesta a intimaciones cursadas por este último.</li>
   <li> Asistencias en Procedimientos Preventivos de Crisis de Empresas.</li>
   <li>Asistencia en la negociación de egresos, revisión de liquidaciones finales, confección de acuerdos.</li>
   <li> Representación del cliente ante conflictos colectivos. Negociación, conciliación con las partes y actuación frente a las autoridades correspondientes.</li>
   <li>Negociación de Convenios Colectivos (paritarias).</li>
   <li>Inspecciones del Sindicato en la Empresa.</li>
   <li>Determinaciones de deuda por contribuciones sindicales.</li>
   <li> Reclamos por encuadre sindical.</li>
</ul>

<br>
<h2> Derecho Corporativo </h2>
<hr>
<p>Nuestro equipo asesora a sus clientes locales y extranjeros en forma integral en todos los temas corporativos y de M&A que requieren asistencia legal. Esta intervención comienza en la fase inicial de la planificación de estas transacciones brindando así un apoyo legal integral que comprende las diversas áreas de práctica que deban ser consultadas. En transacciones internacionales el equipo trabaja con Estudios extranjeros especializados.</p>

    <p>Los servicios prestados en materia de Corporate comprenden, entre otros, los siguientes:</p>
    <ul class="lista1">
  <li>Registración, disolución y liquidación de empresas nacionales y extranjeras.</li>
  <li>Negociación e implementación de Joint Ventures.</li>
  <li>Registración de asociaciones civiles y fundaciones.</li>
  <li>Asesoramiento general en temas corporativos y societarios.</li>
  <li>Negociación e implementación de acuerdos de accionistas.</li>
  <li>Representaciones legales de sociedades constituidas en el exterior.</li>
  <li>Asesoramiento en materia de conflictos societarios.</li>
  <li>Negociación y redacción de contratos comerciales tanto del giro ordinario de los negocios como otros específicos o de mayor complejidad, incluyendo contratos de distribución, franquicia, licencia y agencia.</li>
  <li>Temas vinculados con habeas data.</li>
</ul>
     </p>

<br>
<h2>Derecho Administrativo</h2>
<hr>
<p>Contamos con un departamento de Derecho Administrativo y Regulación Económica, que asesora a nuestros Clientes en contrataciones públicas en general, incluyendo obra pública, de concesión y licencia de obras y servicios públicos, suministro, entre otros, y en cuestiones relacionadas con las regulaciones estatales específicas de diversas actividades económicas, a nivel nacional, provincial y municipal. Desde su inicio, el estudio ha asesorado y representado a empresas de sectores regulados, como concesionarias de obras y servicios públicos (corredores viales por peaje, transporte y distribución de gas, energía eléctrica, agua y desagües cloacales, entre otros), administradoras de fondos de jubilaciones y pensiones, compañías de seguros, entidades financieras, empresas petroleras y de telecomunicaciones e industrias y servicios de interés general.</p>

<p>Los servicios que brindamos en esta área, son los siguientes, entre otros:</p>
<ul class="lista1">
<li>Asesoramiento integral en licitaciones y contrataciones públicas, que incluye, preparación de ofertas, concursos de precios y otros mecanismos de selección de contratistas, negociación, celebración, ejecución y renegociación de contratos públicos de diversa índole.</li>
<li>Asesoramiento en cuestiones regulatorias de servicios públicos y actividades e industrias de interés general.</li>
<li>Representación de nuestros Clientes en procedimientos administrativos ante organismos públicos, procesos contencioso administrativo, incluyendo demandas contra el Estado, amparos, medidas cautelares, acciones declarativas y ante tribunales Federales y Provinciales, incluyendo la Corte Suprema de Justicia de la Nación.</li>
</ul>
</body>