
<body>

      <h1>Contacto</h1>
      <br>
      <div class="texto"> 
      <p>Deje su mensaje y nos pondremos en contacto a la brevedad.</p>
      <br>
      <p>Muchas gracias.</p>
      <br>
      <p> Horarios de atención: Lunes a Viernes de 9 a 18hrs.</p>
    </div>  
    </div>

</body>

      <form action="/contacto" method="POST">
        <div class="mb-2">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text"  class="form-control" id="nombre" name="nombre">
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" name="apellido">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="telefono">
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail">
        </div>
       
        <div class="consulta">
          <label for="exampleInputEmail1" class="form-label">Deja tu consulta</label>
          <br>
          <textarea name="consulta"></textarea>
      <br>
      <br>
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form>
    </div>