
  <main>
<div class="carousel" >
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./Multimedia/oficina.jfif" class="d-block w-100" height="500px" alt="oficina">
        </div>
        <div class="carousel-item">
          <img src="./Multimedia/martillo.jpg" class="d-block w-100" height="500px" alt="martillo">
        </div>
        <div class="carousel-item">
          <img src="./Multimedia/oficina 3.jfif" class="d-block w-100" height="500px" alt="Oficina">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
 
 
  </main>

  <main>

    <h4 style="color: white">Nuestro equipo de abogados está constantemente creciendo, y buscamos profesionales que quieran ser parte de uno de los estudios jurídicos full-service más importantes de Argentina. </h4>
    <br>
    <p> 
        Es habitual identificar a un Estudio Jurídico con el litigio. Esto quizás pueda resultar cierto en el caso de Estudios tradicionales o de los mediáticos. No es nuestro caso.</p>

<p>En nuestro Estudio Jurídico brindamos una serie de herramientas tendientes a la prevención y a la resolución no litigiosa de los conflictos, con la convicción de que el litigio es la última etapa. Desde ya que, llegados a esta etapa, actuamos de manera contundente procurando la satisfacción de todos los intereses de nuestros clientes.</p>
<p>Cabe ahora hacer una pequeña síntesis de los recursos prejudiciales que brindamos:

    <ul>
        <li>Estudios preventivos, que darán cuenta de la situación fáctica que rodea la consulta, tales como averiguaciones patrimoniales, antecedentes causídicos, historial de conducta, etc.</li>
        <li>Dictámenes: sobre las más diversas cuestiones sometidas a nuestro criterio.</li>
        <li>Mediaciones: en todos los fueros pertinentes en jurisdicción nacional y de la Pcia. de Bs. As., tanto como recaudo previo obligatorio o como instancia voluntaria.</li>
        <li>Conciliaciones laborales: actuación ante el SECLO en procura de una satisfacción extrajudicial, legal y adecuada de las cuestiones de índole laboral.</li>
        <li>Consultas: verbales o evacuadas por escrito sobre las cuestiones traídas de carácter civil, comercial, laboral, administrativo y de derecho informático.</li>
    </ul>
    </p>