
    

    <h1>Nuestro Estudio</h1>
    <hr>
<br>
<br>
<div class="texto">
    <p>GM Asociados es una de las firmas de abogados líderes en Argentina, desde su  fundación en 2010. Cuenta con un equipo de 5 socios y más de 15 abogados, quienes  representan a clientes locales e internacionales en todos los sectores de la economía:  infraestructura, finanzas, servicios, telecomunicaciones, energía, automotriz, construcción,  manufactura, agronegocios, entre otros.</p>

    <p>Nuestro compromiso es convertirnos en socios de nuestros clientes en el proceso de generación de valor a través de soluciones estratégicas creativas y prácticas, así como una correcta  evaluación y mitigación de los distintos riesgos legales que podrían afectar a sus negocios y transacciones.</p>
    
    <p>También estamos comprometidos en desarrollar relaciones a largo plazo con nuestros  clientes, a fin de prestarles servicios legales apropiados y con eﬁciencia en el costo,  asistiéndolos desde cuestiones del día a día hasta transacciones sofisticadas, para alcanzar  sus metas de negocio.</p>
    
    <p>Ser una firma «full service» de gran escala nos permite intervenir en proyectos y casos de envergadura y trascendencia, desde sus etapas iniciales hasta su finalización. Nuestra experiencia en distintas áreas  del derecho facilita que nuestros equipos de profesionales puedan gerenciar proyectos  medianos y grandes, cubriendo todas las necesidades de nuestros clientes a fin de ayudarlos a generar valor.</p>
    
   <p> Tenemos una cartera diversificada de clientes corporativos locales e internacionales.</p>
<br>
   <h3>Ubicación</h3>
   <hr>

   <div class="mapa">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9140061006024!2d-58.37598548505223!3d-34.60633596514312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad28d5870cb%3A0x28548e345979f72!2sSan%20Mart%C3%ADn%20140%2C%20C1004AAD%20CABA!5e0!3m2!1ses!2sar!4v1649377177837!5m2!1ses!2sar" width="500" height="450" style=" 100px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>